Repository jooby-project/jooby, pull requests merged in 2019-07, with the labels that each got.

#1330 ApiTool map type parsing issue
  modules/jooby-apitool/src/main/java/org/jooby/internal/apitool/TypeJsonDeserializer.java
  modules/jooby-apitool/src/test/java/org/jooby/internal/apitool/ComplexMapTypesTest.java
Labels: apitool, bug

#1343 Fixed missing Flyway property name prefix
  modules/jooby-flyway/src/main/java/io/jooby/flyway/FlywayModule.java
Labels: 2.x, bug, flywaydb

#1350 Updated docs with correct class name for HikariModule
  docs/asciidoc/modules/hikari.adoc
Labels: documentation, hikari

#1357 Update jooby-maven-plugin configuration
  docs/asciidoc/dev-tools.adoc
Labels: documentation
