Repository jooby-project/jooby, pull requests merged in 2020-03, with the labels that each got.

#1572 fix jooby-pac4j proxy support (bug #1571)
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/CallbackFilterImpl.java
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/DevLoginForm.java
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/LogoutImpl.java
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/SecurityFilterImpl.java
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/WebContextImpl.java
  modules/jooby-pac4j/src/main/java/io/jooby/pac4j/Pac4jContext.java
  modules/jooby-pac4j/src/main/java/io/jooby/pac4j/Pac4jModule.java
Labels: bug, pac4j

#1598 Add phase option to openapi execution config
  docs/asciidoc/modules/openapi.adoc
Labels: documentation, openapi

#1609 update undertow version to 2.0.29.Final
  pom.xml
Labels: undertow

#1610 Update openapi doc
  docs/asciidoc/modules/openapi.adoc
Labels: documentation, openapi
