Repository jooby-project/jooby, pull requests merged in 2020-12, with the labels that each got.

#2171 netty: Fix memory leak on HTTP post
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/HttpRawPostRequestDecoder.java
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/NettyHandler.java
Labels: bug, netty

#2179 jooby-apt: remove JAXRS dependency
  modules/jooby-apt/pom.xml
  modules/jooby-apt/src/main/java/io/jooby/apt/Annotations.java
  modules/jooby-apt/src/test/java/io/jooby/apt/JaxrsTest.java
Labels: enhancement, mvc

#2193 Undertow version upgraded 2.2.2.Final -> 2.2.3.Final
  pom.xml
Labels: dependencies

#2204 jackson optimize if-else
  modules/jooby-jackson/src/main/java/io/jooby/json/JacksonModule.java
Labels: enhancement, jackson

#2203 HibernateModule : Accept list in constructor and scan
  modules/jooby-hibernate/src/main/java/io/jooby/hibernate/HibernateModule.java
Labels: hibernate

#2205 Quartz - Accept list in constructor
  modules/jooby-quartz/src/main/java/io/jooby/quartz/QuartzModule.java
Labels: quartz
