Repository jooby-project/jooby, pull requests merged in 2021-07, with the labels that each got.

#2362 Improve coroutine context redefinition introduced in Jooby 2.9.6
  docs/asciidoc/responses.adoc
  jooby/src/main/kotlin/io/jooby/CoroutineRouter.kt
  jooby/src/main/kotlin/io/jooby/HandlerContext.kt
  jooby/src/main/kotlin/io/jooby/Kooby.kt
  jooby/src/main/kotlin/io/jooby/internal/mvc/CoroutineLauncher.kt
  jooby/src/test/kotlin/io/jooby/CoroutineRouterTest.kt
Labels: coroutine, kotlin

#2365 Fix Gson documentation to use Gson instead of Jackson
  docs/asciidoc/modules/gson.adoc
Labels: documentation

#2368 Adds support for JSON-B (JSR 367)
  docs/asciidoc/modules/jsonb.adoc
  docs/asciidoc/modules/modules.adoc
  modules/jooby-bom/pom.xml
  modules/jooby-jsonb/pom.xml
  modules/jooby-jsonb/src/main/java/io/jooby/json/JsonbModule.java
  modules/jooby-jsonb/src/test/java/io/jooby/json/JsonbModuleTest.java
  modules/pom.xml
  pom.xml
Labels: feature, json-b

#2376 Issue 2371 ssl configuration incomplete in application.conf
  docs/asciidoc/modules/spring.adoc
  docs/asciidoc/servers.adoc
Labels: documentation, ssl

#2377 Enable netty ws compression if compressionLevel option is specified
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/NettyPipeline.java
Labels: netty

#2380 Allow other NonNull/Nullable annotations for APT
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/ParamDefinition.java
Labels: enhancement, mvc

#2383 Adds support for JSON-B (JSR 367) using yasson as the implementation.
  docs/asciidoc/modules/modules.adoc
  docs/asciidoc/modules/yasson.adoc
  modules/jooby-bom/pom.xml
  modules/jooby-yasson/pom.xml
  modules/jooby-yasson/src/main/java/io/jooby/json/YassonModule.java
  modules/jooby-yasson/src/test/java/io/jooby/json/YassonModuleTest.java
  modules/pom.xml
  pom.xml
Labels: feature, json-b

#2400 Enable netty ws compression for HTTP 1.1
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/NettyPipeline.java
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/NettyWebSocketCompressor.java
Labels: netty
