Repository jooby-project/jooby, pull requests merged in 2024-07, with the labels that each got.

#3463 Add commons-text java escaping #3462
  modules/jooby-apt/pom.xml
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/CodeBlock.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/AggregateTranslator.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/CharSequenceTranslator.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/CodePointTranslator.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/EscapeUtils.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/JavaUnicodeEscaper.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/LookupTranslator.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/escape/UnicodeEscaper.java
Labels: enhancement, mvc, apt

#3470 Bump Avaje Inject to 10.0
  docs/asciidoc/modules/avaje-inject.adoc
  modules/jooby-avaje-inject/src/main/java/io/jooby/avaje/inject/AvajeInjectModule.java
  modules/jooby-avaje-inject/src/main/java/io/jooby/avaje/inject/JoobyPropertyPlugin.java
  pom.xml
Labels: version-bump, dependency-injection, avaje

#3475 Fix port documentation for JoobyTest
  docs/asciidoc/testing.adoc
  modules/jooby-test/src/main/java/io/jooby/test/JoobyTest.java
Labels: documentation
