Repository jooby-project/jooby, pull requests merged in 2024-09, with the labels that each got.

#3511 scheduler: add db-scheduler module
  docs/asciidoc/modules/db-scheduler.adoc
  docs/asciidoc/modules/modules.adoc
  docs/asciidoc/templates.adoc
  docs/pom.xml
  docs/src/main/java/io/jooby/adoc/DocGenerator.java
  modules/jooby-bom/pom.xml
  modules/jooby-db-scheduler/pom.xml
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/BeanTasks.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/DbScheduleParser.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/DbSchedulerApp.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/DbSchedulerModule.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/DbSchedulerProperties.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/Scheduled.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/dbscheduler/package-info.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/internal/dbscheduler/ClassLoaderJavaSerializer.java
  modules/jooby-db-scheduler/src/main/java/io/jooby/internal/dbscheduler/DbTable.java
  modules/jooby-db-scheduler/src/main/java/module-info.java
  modules/jooby-db-scheduler/src/test/java/io/jooby/dbscheduler/SchedulerParserTest.java
  modules/pom.xml
Labels: feature, scheduler

#3519 Add Avaje Validator Module
  docs/asciidoc/modules/avaje-inject.adoc
  docs/asciidoc/modules/avaje-validator.adoc
  docs/asciidoc/modules/modules.adoc
  modules/jooby-avaje-inject/pom.xml
  modules/jooby-avaje-validator/pom.xml
  modules/jooby-avaje-validator/src/main/java/io/jooby/avaje/validator/AvajeValidatorModule.java
  modules/jooby-avaje-validator/src/main/java/io/jooby/avaje/validator/ConstraintViolationHandler.java
  modules/jooby-avaje-validator/src/main/java/io/jooby/avaje/validator/package-info.java
  modules/jooby-avaje-validator/src/main/java/module-info.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/AvajeValidatorModuleTest.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/App.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/Controller.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/NewAccountRequest.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/PasswordsShouldMatch.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/PasswordsShouldMatchValidator.java
  modules/jooby-avaje-validator/src/test/java/io/jooby/avaje/validator/app/Person.java
  modules/jooby-hibernate-validator/src/main/java/io/jooby/hibernate/validator/ConstraintViolationHandler.java
  modules/jooby-hibernate-validator/src/main/java/io/jooby/hibernate/validator/HibernateValidatorModule.java
  modules/jooby-validation/src/main/java/io/jooby/validation/BeanValidator.java
  modules/jooby-validation/src/main/java/io/jooby/validation/MvcValidator.java
  modules/pom.xml
  pom.xml
Labels: validation

#3518 Fixes case insensitive headerMap and header toMultimap
  jooby/src/main/java/io/jooby/Context.java
  jooby/src/main/java/io/jooby/Value.java
  jooby/src/main/java/io/jooby/internal/HashValue.java
  jooby/src/main/java/io/jooby/internal/HeadersValue.java
  tests/src/test/java/io/jooby/test/Issue2357.java
Labels: bug

#3522 validation: handler/filter for lambda routes + remove MvcValidator
  docs/asciidoc/modules/avaje-validator.adoc
  docs/asciidoc/modules/hibernate-validator.adoc
  jooby/src/main/java/io/jooby/ForwardingContext.java
  jooby/src/main/java/io/jooby/validation/BeanValidator.java
  jooby/src/main/java/io/jooby/validation/ValidationContext.java
  jooby/src/main/java/io/jooby/validation/ValidationResult.java
  jooby/src/main/java/module-info.java
  modules/jooby-apt/pom.xml
  modules/jooby-apt/src/main/java/io/jooby/apt/JoobyProcessor.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/MvcRoute.java
  modules/jooby-apt/src/test/java/io/jooby/apt/validator/FakeValidatorModule.java
  modules/jooby-apt/src/test/java/tests/validation/BeanValidationGeneratorTest.java
  modules/jooby-avaje-validator/pom.xml
  modules/jooby-avaje-validator/src/main/java/io/jooby/avaje/validator/AvajeValidatorModule.java
  modules/jooby-avaje-validator/src/main/java/module-info.java
  modules/jooby-hibernate-validator/pom.xml
  modules/jooby-hibernate-validator/src/main/java/io/jooby/hibernate/validator/HibernateValidatorModule.java
  modules/jooby-hibernate-validator/src/main/java/module-info.java
  modules/jooby-validation/pom.xml
  modules/jooby-validation/src/main/java/io/jooby/validation/BeanValidator.java
  modules/jooby-validation/src/main/java/io/jooby/validation/MvcValidator.java
  modules/jooby-validation/src/main/java/io/jooby/validation/package-info.java
  modules/jooby-validation/src/main/java/module-info.java
  modules/pom.xml
  tests/pom.xml
  tests/src/test/java/io/jooby/i3508/Bean3508.java
  tests/src/test/java/io/jooby/i3508/Issue3508.java
Labels: validation

#3524 validation filter note
  docs/asciidoc/modules/avaje-validator.adoc
  docs/asciidoc/modules/hibernate-validator.adoc
Labels: documentation, validation

#3528 camel 4: upgrade camel 3 module to 4
  modules/jooby-camel/pom.xml
  modules/jooby-camel/src/main/java/io/jooby/internal/camel/JoobyInjector.java
  modules/jooby-camel/src/main/java/module-info.java
  pom.xml
Labels: enhancement, camel, version-bump

#3534 cleanup validation tests
  docs/asciidoc/context.adoc
  modules/jooby-apt/pom.xml
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/MvcParameter.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/ParameterGenerator.java
  modules/jooby-apt/src/main/java/io/jooby/internal/apt/Types.java
  modules/jooby-apt/src/test/java/tests/validation/BeanValidationsController.java
  modules/jooby-apt/src/test/java/tests/verifyarg/ControllerCookie.java
  modules/jooby-apt/src/test/java/tests/verifyarg/ControllerFlash.java
  modules/jooby-apt/src/test/java/tests/verifyarg/ControllerFlashOpt.java
  modules/jooby-apt/src/test/java/tests/verifyarg/ControllerHeader.java
  modules/jooby-apt/src/test/java/tests/verifyarg/ControllerSession.java
  modules/jooby-apt/src/test/java/tests/verifyarg/VerifyArgTypeTest.java
  pom.xml
Labels: enhancement, apt

#3545 Add `Environment` to Avaje `BeanScope`
  modules/jooby-avaje-inject/src/main/java/io/jooby/avaje/inject/AvajeInjectModule.java
Labels: dependency-injection, avaje
