Repository jooby-project/jooby, pull requests merged in 2024-11, with the labels that each got.

#3573 hibernate: add StatelessSession support
  modules/jooby-hibernate/src/main/java/io/jooby/hibernate/HibernateModule.java
  modules/jooby-hibernate/src/main/java/io/jooby/hibernate/SessionRequest.java
  modules/jooby-hibernate/src/main/java/io/jooby/hibernate/StatelessSessionProvider.java
  modules/jooby-hibernate/src/main/java/io/jooby/hibernate/TransactionalRequest.java
  modules/jooby-hibernate/src/main/java/io/jooby/internal/hibernate/RequestSessionFactory.java
  modules/jooby-hibernate/src/main/java/io/jooby/internal/hibernate/StatelessSessionServiceProvider.java
Labels: enhancement, hibernate

#3583 Netty handler exception handling
  modules/jooby-netty/src/main/java/io/jooby/internal/netty/NettyHandler.java
Labels: bug, netty

#3588 #3586 Fix RequestSessionFactory.StatefulSessionFactory create returning null session
  modules/jooby-hibernate/src/main/java/io/jooby/internal/hibernate/RequestSessionFactory.java
Labels: bug, hibernate
