Repository jooby-project/jooby, pull requests merged in 2024-05, with the labels that each got.

#3413 Fix/openapi nonnull issue
  modules/jooby-openapi/src/main/java/io/jooby/internal/openapi/AnnotationParser.java
  modules/jooby-openapi/src/test/java/issues/i3412/App3412.java
  modules/jooby-openapi/src/test/java/issues/i3412/Issue3412.java
Labels: openapi

#3426 Fix avaje module
  modules/jooby-avaje-inject/pom.xml
  modules/jooby-avaje-inject/src/main/java/io/jooby/avaje/inject/AvajeInjectModule.java
  modules/jooby-avaje-inject/src/test/java/io/jooby/avaje/inject/AvajeInjectModuleTest.java
  modules/jooby-avaje-inject/src/test/java/io/jooby/avaje/inject/app/Controller.java
  modules/jooby-avaje-inject/src/test/java/io/jooby/avaje/inject/app/TestApp.java
Labels: bug

#3427 Fix #3425 jooby-pac4j module: set config for ProfileManager in Pac4jC…
  modules/jooby-pac4j/src/main/java/io/jooby/internal/pac4j/Pac4jCurrentUser.java
  modules/jooby-pac4j/src/main/java/io/jooby/pac4j/Pac4jModule.java
Labels: bug, pac4j
